h1{
	color:blue;
	text-decoration: underline;
	text-transform: uppercase;
	font-size: 40px;
}

h2{
	text-decoration: underline;
	font-size: 30px;
}

h3{
	font-style: italic;
	font-size: 18px;
	text-decoration:underline;
}

body{
		background-color: #E8DA95;
}

h3.code{
	text-decoration: none;
	background-color: yellow;
}
